
:root {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

/* https://www.realtimecolors.com/?colors=0f0f0f-f0f0f0-ce5f27-efc0a9-df6020&fonts=Inter-Inter */

:root.light-theme, :root:not(.dark-theme) {
  --text: #0f0f0f;
  --background: #f0f0f0;
  --background-50: #f2f2f2;
  --background-100: #e6e6e6;
  --background-200: #cccccc;
  --background-300: #b3b3b3;
  --background-400: #999999;
  --background-500: #808080;
  --background-600: #666666;
  --background-700: #4d4d4d;
  --background-800: #333333;
  --background-900: #1a1a1a;
  --background-950: #0d0d0d;
  --primary: #ce5f27;
  --secondary: #efc0a9;
  --accent: #df6020;
  --underflow-color: #D81B6F;
  --overflow-color: #E8CD0F;

  --grid-background-color: var(--background-50);
  --selection-area-background-color: color-mix(in srgb, var(--primary) 15%, transparent);
  --selection-area-border-color: var(--primary);
  --node-background-color: var(--background);
  --node-border-color: var(--background-100);
  --node-border-hover-color: var(--background-200);
  --node-border-highlight-color: var(--secondary);
  --node-border-selected-color: var(--primary);
  --node-main-text-color: var(--text);
  --node-editable-text-color: var(--text);
  --node-in-out-text-color: var(--text);
  --edge-stroke-color: var(--background-400);
  --edge-hover-stroke-color: var(--background-500);
  --edge-selected-stroke-color: var(--primary);
  --recipe-selector-background-color: var(--background);
  --recipe-selector-tile-color: var(--background);
  --recipe-selector-tile-hover-color: var(--background-100);
  --recipe-selector-tile-active-color: var(--background-200);
  --recipe-selector-tile-border-color: var(--background-100);
  --recipe-selector-tile-secondary-img-shadow: drop-shadow(0px 0px 2px white) drop-shadow(0px 0px 5px white);
  --recipe-selector-border-color: var(--background-100);
  --context-menu-background-color: var(--background);
  --context-menu-border-color: var(--background-100);
  --context-menu-item-color: transparent;
  --context-menu-item-hover-color: var(--background-100);
  --context-menu-item-active-color: var(--background-200);
  --text-shadow: 
			0 0 2px white,
			0 0 2px white,
			0 0 3px white,
			0 0 3px white,
			0 0 3px white,
			0 0 3px white,
			0 0 3px white,
			0 0 3px white,
			0 0 3px white,
			0 0 3px white,
			0 0 6px white;
}
:root.dark-theme {
  --text: #f0f0f0;
  --background: #0f0f0f;
  --background-50: #0d0d0d;
  --background-100: #1a1a1a;
  --background-200: #333333;
  --background-300: #4d4d4d;
  --background-400: #666666;
  --background-500: #808080;
  --background-600: #999999;
  --background-700: #b3b3b3;
  --background-800: #cccccc;
  --background-900: #e6e6e6;
  --background-950: #f2f2f2;
  --primary: #d86931;
  --secondary: #562710;
  --accent: #df6020;
  --underflow-color: #D81B6F;
  --overflow-color: #E8CD0F;

  --grid-background-color: var(--background);
  --selection-area-background-color: color-mix(in srgb, var(--primary) 15%, transparent);
  --selection-area-border-color: var(--primary);
  --node-background-color: var(--background-100);
  --node-border-color: var(--background-200);
  --node-border-hover-color: var(--background-300);
  --node-border-highlight-color: var(--secondary);
  --node-border-selected-color: var(--primary);
  --node-main-text-color: var(--text);
  --node-editable-text-color: var(--text);
  --node-in-out-text-color: var(--text);
  --edge-stroke-color: var(--background-400);
  --edge-hover-stroke-color: var(--background-500);
  --edge-selected-stroke-color: var(--primary);
  --recipe-selector-background-color: var(--background-100);
  --recipe-selector-tile-color: var(--background-100);
  --recipe-selector-tile-hover-color: var(--background-200);
  --recipe-selector-tile-active-color: var(--background-300);
  --recipe-selector-tile-border-color: var(--background-300);
  --recipe-selector-tile-secondary-img-shadow: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 4px black);
  --recipe-selector-border-color: var(--background-200);
  --context-menu-background-color: var(--background-100);
  --context-menu-border-color: var(--background-200);
  --context-menu-item-color: transparent;
  --context-menu-item-hover-color: var(--background-200);
  --context-menu-item-active-color: var(--background-300);
  --text-shadow: 
			0 0 2px black,
			0 0 2px black,
			0 0 3px black,
			0 0 3px black,
			0 0 4px black,
			0 0 4px black,
			0 0 6px black;
}

:root {
  --rounded-border-radius: 4px;
  --rounded-border-radius-big: 8px;
  --rounded-border-width: 2px;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	overflow-x: hidden;
}

text {
	font-family: 'Lato', sans-serif;
	fill: var(--text);
}


button {
	user-select: none;
}

:focus {
	outline: none;
}

foreignObject {
	overflow: visible;
}
